.App {
  max-width: 1440px;
  height: auto;
  background-color: #fff;
  padding: 0;
  margin: 0;

}
.header {
  display: flex;
  margin-top: 43px;
  color: #000000;
  justify-content: space-between;
  margin-left: 99px; 
  margin-right: 99px; 
  align-items: flex-start; /* Align tops of the elements */
}

.header-logo {
  width: 136px;
  height: 26px;
  margin-top: 0;
}

.header-add-photo {
  background-color: #3DB46D;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 137px;
  height: 55px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px 0px #3DB46D33;  
  margin-right: 0%; 
  margin-left: 0%; 
  
}
.header-add-photo button{
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  width: 97px;
  height: 22px;

}

.header-search {
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  background-color: #fff;
  width: 300px;
  height: 55px;
  border-radius: 12px;
  border: 1px solid #BDBDBD;
  margin-left: 24px; 
  margin-right: 600px;
}
.header-search input {
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  width: 107px;
  height: 19px;
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #BDBDBD; 
  margin-top: 18px;
  margin-left: 16px;
  
}

.header-search text {
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  justify-content: center;
  color: #BDBDBD;  
  
}

.header-search i {
  width: 17.05px;
  height: 17.06px;
  color: #BDBDBD;
  margin-top: 20px;
  margin-left: -90px;
  cursor: default;  
}

.my-masonry-grid {
  display: flex;
  width: auto;
  margin-top: 80px;
  margin-left: 99px;
  margin-right: 99px;
}

.my-masonry-grid_column {
  padding-left: 10px; 
}

.my-masonry-grid_item {
  margin-bottom: 10px; 
  position: relative;
}

.my-masonry-grid_item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}

.delete-button {
  position: absolute;
  top: 5px; /* Adjust the top position to your liking */
  right: 5px; /* Adjust the right position to your liking */
  background: transparent;
  color: #EB5757;
  border: 1px solid #EB5757;
  border-radius: 38px;
  width: 63px;
  height: 23px;
  font-size: 14px;
  cursor: pointer;
  display: none; 
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;

}

.my-masonry-grid_item:hover .delete-button {
  display: block; 
}

.modal {
  display: none;
  position: fixed;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 620px;
  height: 367px;
  background: #fff;
  z-index: 999;
  outline: none;
  border-radius: 12px;
  padding: 0;
}

.modal.open {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); /* Adjust the last value (0.5) to control the transparency */
  z-index: 998; /* A z-index lower than modal to keep it behind the modal */
}

.modal h2,
.modal-content,
.modal-content label,
.modal-content input,
.modal-content button {
  margin-top: 18px; 
}

.modal h2 {
  width: 195px;
  height: 33px;
  position: absolute;
  left: 30px;
  font-family:'Noto Sans';
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
}

.modal-content {
  width: 552.33px;
  height: 186.49px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 12px;
  border: none;
  background: white; 
    
}

.modal-content input {
  width: 552.33px;
  height: 55px;
  border-radius: 12px;
  border: 1px solid #4F4F4F;    
  
}

.modal-content input::placeholder {
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: #BDBDBD;
  padding-left: 18px;
}

.modal-content label {
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0px;
  display: inline-block;
 }

.button-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 24px;
}


.modal-content button {
  width: 105px;
  height: 55px;
  border-radius: 12px;
  color: white;  
  border: none;
  margin-right: 0; 
  margin-bottom: 20px;   
}

.modal-content button.submit {
  background-color: #4CAF50; 
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  cursor: pointer;
}

.modal-content button.cancel {
  background-color:transparent;
  color: #BDBDBD;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
}


.modal-content button.confirm {
  box-shadow: 0px 4px 10px 0px #EB575733;
  background-color: #EB5757; 
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  cursor: pointer;
}

.delete-confirmation-modal.open {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 276.12px;
  background: #fff;
  z-index: 999;
  outline: none;
  border-radius: 12px;
  padding: 0;
}

.delete-confirmation-modal h2 {
    width: 195px;
    height: 33px;
    position: absolute;
    left: 30px;
    font-family:'Noto Sans';
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
}
